@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Rubik&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-movil {
  height: 4.25rem;
  @apply bg-mainBrand-500 col-span-4 grid grid-cols-4 gap-5;
  box-shadow: 0px 4px 4px rgba(35, 27, 24, 0.25);
}

.container-movil {
  @apply grid grid-cols-4 gap-5 min-h-screen bg-gradient-to-br from-pink-500 to-indigo-500 mx-4;
}

.title-nav-movil {
  font-size: 1.5rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply col-span-2 text-lightAccents-500 font-bold text-center font-titles;
}
